html, body{
    margin: 0;
    height: 100%;
    width: 100%;
}

#container{
    height: auto;
    padding-top: 10%;
}

#names{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    gap: 10px;
    font-size: 40px;
}
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container label {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.input-container input {
    width: 300px;
    height: 40px;
    font-size: 30px;
    text-align: center;
}

#submitNames{
    display: flex;
    justify-content: center;
}

#submitNames input{
    width:400px;
    font-size: 30px;
}